@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gotham';
  src: url('/assets/fonts/Gotham-Bold.otf') format('otf'),
    url('/assets/fonts/Gotham-Bold.otf') format('otf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('/assets/fonts/GothamMedium.ttf') format('ttf'),
    url('/assets/fonts/GothamMedium.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

.text-primary {
  @apply uppercase tracking-wide text-cream-dark;
}

.button {
  @apply cursor-pointer px-5 text-center text-xl uppercase text-white;
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Hide scrollbar in WebKit browsers */
}

.no-scrollbar {
  -ms-overflow-style: none; /* Hide scrollbar in IE and Edge */
  scrollbar-width: none; /* Hide scrollbar in Firefox */
}

/* General autofill styling for WebKit browsers (Chrome, Edge, Safari) */
input:-webkit-autofill {
  background-color: transparent !important; /* Override background */
  color: inherit !important; /* Ensure text color matches */
  box-shadow: 0 0 0px 1000px transparent inset !important; /* Reset shadow */
  transition: background-color 5000s ease-in-out 0s; /* Fix background override timing */
}

/* Firefox-specific autofill styling */
input:-moz-autofill {
  background-color: transparent !important; /* Override background */
  color: inherit !important; /* Ensure text color matches */
}

/* General styling for all inputs (fallback) */
input {
  background: transparent;
}
